/*
======================================
CSS Reset
======================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
================================================
Begin Custom Styling
================================================
*/

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .6);
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

/*
============================
General Header
============================
*/

header {
	width: 100%;
	background: linear-gradient(135deg, #332116 0%,#675038 100%);
	color: white;
}

.container {
	max-width: 1140px;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

header .header-menu a{
	color: rgba(255, 255, 255, .6);
	font-size: 13px;
}

header a:hover {
	color: white;
}

.main-nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.main-nav ul {
	display: flex;
}

.header-menu a{
	margin: 10px 15px;
}

header .logo a{
	font-size: 20px;
	margin-left: 15px;
	color: white;
	font-weight: 700;
}

.container-main {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
==============
Home Page
==============
*/

.header-index {
	height: 900px;
}

.container-main h1 {
	font-size: 70px;
	margin-bottom: 20px;
}

.container-main div a {
	padding: 5px;
}

.container-main h3 {
	font-size: 21px;
	margin-bottom: 25px;
}

.header-btn {
	text-transform: none;
	color: white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16px;
	border: 2px solid white;
	width: 155px;
	height: 60px;
	border-radius: 5px;
	margin: 2px;
}

.header-btn-orange {
	background-color: #F85A16;
	border: none;
	color: rgba(255, 255, 255, .6);
}

.header-btn:hover {
	background-color: white;
	color: #332116;
}

.header-btn-orange:hover {
	background-color: #f96c2f;
	color: white;
}

/*
==============
About Page
==============
*/

.header-about {
	height: 640px;
}




/*
=======================
Features
=======================
*/

.features {
	min-height: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.feature {
	width: 30%;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature p {
	color: rgba(0, 0, 0, .55);
	line-height: 1.8em;
	text-align: center;
	font-size: 16px;
}

.feature h3 {
	margin: 2em 0;
	color: rgba(0, 0, 0, .65);
	text-transform: uppercase;
	font-size: 19px;
}

.feature-icon {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background: rgba(0, 0, 0, .1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: #F85A16;
}

.learn-btn {
	margin: 30px 0;
	padding: 10px;
	text-transform: capitalize;
	text-align: center;
	border: 2px solid #F85A16;
	border-radius: 3px;
	height: 40px;
	width: 150px;
	color: #F85A16;
}

.learn-btn:hover {
	background: #F85A16;
	color: #FFF;
}

/*
=======================
videos
=======================
*/

.videos {
	width: 100%;
	height: 700px;
	text-align: center;
	background: rgba(0, 0, 0, .1);
	display: flex;
	justify-content: space-around;

}

.videos h2 {
	padding: 25px 0;
	color: black;
	font-size: 38px;
	font-weight: 700;
}

.videos p {
	margin: 0 auto;
	width: 65%;
	font-size: 18px;
	color: rgba(0, 0, 0, .55);
}

.videos-header {
	margin: 100px;
}

.videos-container {
	display: flex;
	justify-content: space-around;
}

.videos-links {
	width: 31%;
	height: 225px;
	background: linear-gradient(135deg, #625C5C 0%, #574944 100%);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video {
	background: white;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.video a {
	color: #F85A16;
	font-size: 40px;
}

/*
=======================
Stats
=======================
*/

.stats {
	width: 100%;
	height: 500px;
	background: linear-gradient(45deg, #5E504E 0%, #392C2E 40%, #392C2E 60%, #5E504E 100%);
}

.stat-containers {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.stat-container {
	margin: 0;
	width: 22%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-items: center;
}

.stat-container p {
	display: inline-block;
	margin: 25px 0;
}

.stat-symbol {
	font-size: 40px;
	color: #F85A16;
}

.stat-number {
	color: white;
	font-size: 44px;
}

.stat-desc {
	text-transform: uppercase;
	font-size: 18px;
	color: #9E9898;
}

/*
=======================
Testimonial
=======================
*/

.testimonial {
	height: 700px;
	background: rgba(0, 0, 0, .1);
}

.container-testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-testimonial h2 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 25px 0;
}

.testimonial-quote {
	margin: 10px 0;
	width: 50%;
	font-size: 17px;
	line-height: 1.8em;
	color: rgba(0, 0, 0, .6);
}

.testimonial-profile {
	margin: 25px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgba(0, 10, 10, .5);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}

.testimonial-profile a {
	color: #F85A16;
}

.testimonial-photo {
	margin: 20px 0;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background: rgba(0, 10, 50, .33);
}

.testimonial-toggle a {
	margin: 0 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: rgba(0, 0, 0, .1);
}

.testimonial-toggle a:hover {
	background: rgba(0, 0, 0, .3);
}

.testimonial-toggle a:nth-child(1) {
	background: none;
	border: 2px solid #F85A16;
}

/*
=======================
offerings
=======================
*/

.offerings {
	height: 900px;
}

.offerings-header {
	margin: 100px 0;
	text-align: center;
}

.offerings-header h2 {
	margin-bottom: 25px;
	font-size: 38px;
	font-weight: 700;
}

.offerings-header p {
	font-size: 18px;
	margin: 0 auto;
	width: 70%;
	color: rgba(0, 0, 0, .6);
}

nav.offerings-nav {
	margin-bottom: 75px;
}

.offerings-nav ul {
	width: 100%;
	height: 75px;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 3px;
}

.offerings-nav a {
	border-radius: 4px;
	padding: 27px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.3);
}

.offerings-nav li {
	margin: auto;
	width: 100%;
	text-align: center;
	text-transform: capitalize;
}

.offerings-nav a:hover {
	color: rgba(0, 0, 0, 0.6);
}

a.offerings-nav-active {
	background: white;
	color: #F85A16;
}

a.offerings-nav-active:hover {
	color: #F85A16;
}

.offerings-content .videos-links {
	margin: 15px;
	width: 50%;
	height: 400px;
}

.offerings-article {
	margin: 15px;
	width: 50%;
}

.offerings-article h3 {
	font-size: 32px;
	margin-bottom: 15px;
}

.offerings-article p {
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.6em;
	margin: 20px 0;
}

.offerings-article h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.off-sub-art {
	display: flex;
}

.offerings-content {
	display: flex;
	justify-content: flex-start;
}

/*
=======================
subscribe
=======================
*/

.subscribe-section {
	height: 400px;
	background: #333333;
}

.subscribe-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.subscribe-container h2 {
	color: white;
	font-size: 34px;
	font-weight: 700;
	margin: 10px;
}

.subscribe-container p {
	color: rgba(255, 255, 255, 0.3);
	font-size: 18px;
	margin-bottom: 30px;
}

.subscribe-container form {
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.subscribe-container input, button {
	box-shadow: none;
	outline: none;
	color: white;
	border: 2px solid transparent;
	border-radius: 6px;
	width: 30%;
	height: 50px;
	background: #555;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.subscribe-container input {
	padding: 10px 20px;
}

.subscribe-container button {
	background: #F85A16;
	text-transform: uppercase;
}

.subscribe-container button:hover {
	cursor: pointer;
}

.subscribe-container input:focus {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .8);
	outline: none;
	transition-timing-function: ease;
	transition-property: all;
	transition-duration: .5s;
	font-family: 'Raleway', sans-serif;
}

.subscribe-container input:-moz-placeholder {
	font-weight: 300;
	color: #eee;
}
.subscribe-container input::-moz-placeholder {
	font-weight: 300;
	color: #eee;
}
.subscribe-container input::-webkit-input-placeholder {
	font-weight: 300;
	color: #eee;
}

/*
=======================
footer
=======================
*/

footer {
	height: 500px;
}

.footer-links {
	display: flex;
	justify-content: space-between;
}

.footer-links a {
	color: black;
	text-transform: none;
	text-align: left;
}

.footer-links ul {
	margin: 100px 15px;
	width: 16.666666667%;
	display: inline-flex;
	flex-direction: column;
}

.footer-links li {
	margin: 8px 0;
}

.footer-last {
	display: flex;
	justify-content: space-between;
}

.footer-credits {
	color: rgba(0, 0, 0, .6);
	font-size: 14px;
	margin: 0 15px;
}

.footer-credits a {
	color: #F85A16;
	text-transform: none;
}

.footer-credits p {
	margin-bottom: 10px;
}

.footer-social ul {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-social a {
	margin: 0 15px;
	color: #F85A16;
	font-size: 20px;
}
